services:
  graphdb:
    image: ontotext/graphdb:10.6.3
    container_name: graphdb
    restart: always

    ports:
      - "7200:7200"   # Interface Web + SPARQL endpoint

    environment:
      GDB_HEAP_SIZE: "2g"
      GDB_MIN_MEM: "1g"
      GDB_MAX_MEM: "2g"
      GDB_JAVA_OPTS: "-Dgraphdb.workbench.cors.enable=true -Dgraphdb.workbench.cors.allowOrigin=*"

    volumes:
      - graphdb_data:/opt/graphdb/home
      - ./rdf:/opt/graphdb/import        # dossier pour tes fichiers TTL/RDF
      - ./repositories:/opt/graphdb/repositories  # stockage des dépôts

  webapp:
    build: ./webapp
    container_name: webapp
    ports:
      - "8000:80"
    depends_on:
      - graphdb

volumes:
  graphdb_data:
